<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>About {{name}} page</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga repellat
      harum saepe voluptatem asperiores dignissimos autem dolore obcaecati
      voluptatibus sequi eius error sunt, ipsa, sit distinctio accusamus
      quisquam omnis nobis.
    </p>
    <button>logins</button>
  </body>
</html>
